body {
  padding: 50px;
}

.container {
  max-width: 700;
  margin: 40 auto;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #f9f7f3;
}

.form-group {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px;
}

th {
  background-color: #f7a072;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
}

td:not(:last-child) {
  padding-right: 20px;
}

.btn {
  background-color: #ffbc98;
  border-color: #ffbc98;
  margin: 7px;
  text-align: center;
}

.btn:hover {
    background-color: #f7a072;
}

.headers {
  display: flex;
  padding: 20px;
  margin-bottom: 15px;
}

.menu {
    padding-left: 20%;
}

thead {
    background-color: #f7a072;
}