body {
    padding: 50px;
    background-color: rgb(243, 241, 238);
}

.container {
    max-width: 600px;
    margin: 50 auto;
    padding: 10px;
    box-shadow: rgba(63, 63, 99, 0.297) 1px 7px 20px 2px;
    background-color: #b1eaee;
    font-family: "Verdana";
}

form{
    padding: 10px;
    margin: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-btn input{
    background-color: #0ed4db;
    border-color: #0ed4db;
}

.form-btn input:hover{
    background-color: rgba(30,190,154,1);
    border-color: rgba(30,190,154,1);
}
h1{
    padding-bottom: 30px;
    font: 'Verdana';
}
p{
    margin-left: 35px;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }